* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  color: #f0be61;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.container {
  width: 90%;
  margin: auto;
}

.iwco_block {
  padding: 50px 0;
  /* max-width: 1130px;
    margin: auto; */
  margin-top: 50px;
  margin-bottom: 150px;
}

#imageWithContentOverlay .iwco_bg_text {
  display: none;
}

#imageWithContentOverlay .bc_row {
  display: block;
}

.bc_img_fluid {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.bc_row_left_col_image {
  margin-bottom: 20px;
}

#imageWithContentOverlay .bc_row_left_col {
  width: 100%;
}

#imageWithContentOverlay .bc_row_right_col .bc_title {
  font-family: "Rubik One", sans-serif;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 600;
}

.bc_title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 600;
  margin-bottom: 20px;
  color: #111;
  line-height: normal;
}

.bc_subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  line-height: normal;
}

.bc_desc {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #222;
}

.bc_link_2 {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
  color: #000;
  transition: all ease 0.3s;
  position: relative;
  width: fit-content;
  text-decoration: none;
}

.bc_link_2 .bc_link_arrow {
  width: 31px;
  height: 31px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0be61;
  transition: all ease 0.3s;
}

.bc_link_2:hover {
  text-decoration: none;
  color: #444;
  transition: all ease 0.3s;
}

.bc_link_2:hover > .bc_link_arrow {
  position: relative;
  transform: translateX(5px);
  transition: all ease 0.3s;
}

.bc_link {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  transition: all ease 0.3s;
  position: relative;
  width: fit-content;
  text-decoration: none;
}

.bc_link .bc_link_arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  margin-left: 10px;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  background-color: #f0be61;
  transition: all ease 0.3s;
  color: #111;
}

.bc_link:hover {
  text-decoration: none;
  color: #444;
  transition: all ease 0.3s;
}

.bc_link:hover > .bc_link_arrow {
  position: relative;
  transform: translateX(5px);
  transition: all ease 0.3s;
}

.bc_block_head {
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .container {
    width: 60% !important;
    margin: 0 auto;
  }

  #imageWithContentOverlay .bc_row {
    display: flex;
    align-items: center;
    gap: 55px;
    z-index: 99;
  }

  /* .bc_row_right_col {
      max-width: 580px;
      position: relative;
    } */

  .bc_row_left_col {
    width: 522px;
    position: relative;
  }

  #imageWithContentOverlay .iwco_bg_text {
    font-family: "Poppins", sans-serif;
    display: block;
    font-size: 128px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.05);
    z-index: -1;
    position: absolute;
    top: -45px;
  }

  #imageWithContentOverlay .bc_row_right_col .bc_title {
    font-family: "Rubik One", sans-serif;
    font-size: 48px;
    font-weight: 800;
    position: relative;
  }

  #imageWithContentOverlay .bc_row_right_col .bc_title::before {
    position: absolute;
    content: "";
    top: -20px;
    left: 0;
    width: 120px;
    height: 4px;
    background-color: #f0be61;
  }

  .bc_row_left_col_image {
    width: 522px;
    height: 522px;
    /* object-position: right; */
  }

  .bc_img_fluid {
    width: 100%;
    height: 100%;
  }

  .bc_row .bc_row_overlay {
    position: absolute;
    left: -58px;
    bottom: -36px;
    width: 337px;
    height: 490px;
    background-color: #f5deb3;
    z-index: -1;
  }
}

/* Slider With Header Description 1 */
#sliderWithHeaderDescription1.swhd_block {
  background-color: #f5deb3;
  padding: 100px 0px;
  margin-bottom: 100px;
}

#sliderWithHeaderDescription1 .owl-nav {
  float: right;
  display: flex;
  margin-top: 20px;
}

.owl-nav button.disabled {
  opacity: 0.5; /* Change opacity to indicate disabled state */
  pointer-events: none;
}

#sliderWithHeaderDescription1 .owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

#sliderWithHeaderDescription1 .owl-nav button:hover {
  background-color: lightgray;
}

#sliderWithHeaderDescription1 .owl-nav button:not(:last-child) {
  margin-right: 10px;
}

.bc_content_row {
  margin-bottom: 50px;
}

.bc_safari_1 {
  position: relative;
  height: 395px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: flex-end;
  border-radius: 10px 10px 0px 0px;
}

.hidden {
  display: none;
}

.bc_safari_footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  transition: height 0.5s ease;
}

.bc_safari_1_title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.bc_safari_subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
}

.swhd_slide_row {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

.view_package_link {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.bc_safari_footer_cta {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta_arrow {
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #111;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0be61;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 992px) {
  .bc_content_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }

  .bc_content_row-left {
    width: 437px;
  }

  .bc_title {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 900;
    position: relative;
  }

  .swhd_slide_row {
    max-width: 1130px;
  }

  #sliderWithHeaderDescription1 .own-nav button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 10px;
    font-size: 20px;
  }
}

/* Slider with Header Description 2 */
#sliderWithHeaderDescription2.swhd_2_block {
  margin-bottom: 70px;
}

#sliderWithHeaderDescription2 .swhd_slide_row {
  display: block;
}

.owl-stage {
  display: flex;
}

.owl-stage-outer {
  overflow-x: hidden;
}

#sliderWithHeaderDescription2 .owl-nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#sliderWithHeaderDescription2 .owl-dots {
  width: fit-content;
  margin: auto;
  position: relative;
  top: -20px;
  display: flex;
  align-items: center;
}

#sliderWithHeaderDescription2 .owl-dot {
  background-color: #363636 !important;
  border: none;
  width: 4px !important;
  height: 4px !important;
  border-radius: 50% !important;
  padding: 0;
}

#sliderWithHeaderDescription2 .owl-dot:not(:last-child) {
  margin-right: 8px;
}

#sliderWithHeaderDescription2 .owl-dot.active {
  background-color: #222 !important;
  border: none;
  width: 8px !important;
  height: 8px !important;
}

#sliderWithHeaderDescription2 .owl-nav button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
}

.bc_safari_2 {
  position: relative;
  width: 100%;
  height: 330px;
  aspect-ratio: 16/9;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bc_overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.bc_span_image {
  display: none;
  position: absolute;
  width: 200px !important;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #fff;
  top: 18%;
  left: -110px;
}

.bc_safari_title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  .bc_safari_2 {
    position: relative;
    width: 500px;
    height: 330px;
  }

  .bc_span_image {
    display: block;
    position: absolute;
    width: 224px !important;
    height: 224px;
    border-radius: 50%;
    border: 10px solid #fff;
    top: 18%;
    left: -110px;
  }

  .bc_safari_title {
    font-size: 32px !important;
    font-weight: 800;
    line-height: 1;
  }
}

/* Left Image Slider With Header Description Section */

#LeftSliderWithHeaderDescription.swhd_block {
  background-color: #f5deb3;
  padding: 100px 0px;
  margin-bottom: 70px;
}

#LeftSliderWithHeaderDescription .owl-nav {
  float: right;
  position: relative;
  top: -70px;
}

#LeftSliderWithHeaderDescription .owl-nav button {
  width: 70px;
  height: 70px;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

#LeftSliderWithHeaderDescription .owl-nav button:not(:last-child) {
  border-right: 1px solid #a0a0a0;
}

#LeftSliderWithHeaderDescription .owl-nav button:hover {
  background-color: #f0be61;
}

.liswhd_row {
  display: block;
}
/* 
  #righttSliderWithHeaderDescription .liswhd_row {
    display: flex;
    flex-direction: column-reverse;
  } */

.liswhd_left_col {
  margin-bottom: 30px;
}

.bc_title2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.liswhd_item {
  position: relative;
  width: 100%;
  height: 330px;
  aspect-ratio: 16/9;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bc_minititle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.bc_bullets {
  margin-bottom: 20px;
}

.bc_bullet {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.bc_bullet::before {
  content: "\2713";
  position: absolute;
  left: -20px;
}

@media (min-width: 992px) {
  .liswhd_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  #righttSliderWithHeaderDescription .liswhd_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .liswhd_left_col {
    position: relative;
    width: 50%;
    height: 587px;
  }

  .liswhd_left_col::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 1;
  }

  /* .liswhd_left_col::after {
      position: absolute;
      content: "";
      bottom: -16px;
      left: 0;
      width: 100%;
      height: 30px;
      background-image: url("https://img.freepik.com/free-vector/pattern-background-tribal-seamless-aztec-design-black-white-geometric-style-vector_53876-154220.jpg");
      background-position: center;
    } */

  .liswhd_item {
    width: 100%;
    height: 573px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .liswhd_right_col {
    width: 448px;
  }

  .liswhd_right_col_2 {
    position: relative;
    width: 50%;
    height: 587px;
  }

  .liswhd_left_col_2 {
    width: 448px;
  }
}

/* Right Slider with Header Description */

#righttSliderWithHeaderDescription.swhd_block {
  padding: 70px 0px;
  margin-bottom: 70px;
}

#righttSliderWithHeaderDescription .owl-nav {
  position: relative;
  top: -70px;
}

#righttSliderWithHeaderDescription .owl-nav button {
  width: 70px;
  height: 70px;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

#righttSliderWithHeaderDescription .owl-nav button:not(:last-child) {
  border-right: 1px solid #a0a0a0;
}

#righttSliderWithHeaderDescription .owl-nav button:hover {
  background-color: #f0be61;
}

/* Partners Section */

#partnersSlider.bc_partners {
  margin-bottom: 70px;
}

#partnersSlider .bc_partners_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#partnersSlider .partners_title {
  margin-bottom: 50px;
  text-align: center;
}

#partnersSlider .bc_logo {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#partnersSlider .bc_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 992px) {
  #partnersSlider.bc_partners {
    margin-bottom: 100px;
  }

  #partnersSlider .bc_partners_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #partnersSlider .partners_title {
    margin-bottom: 95px;
    text-align: left;
  }
}
